<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head")%>
  <body>
    <%-include("./partials/nav.ejs")%>
    <div class="hakkımda content">
      <h2><%= hakkimda %></h2>
      <h3 style="padding: 10px">
        Description : Express ve Mongo Db kullanarak ekleme ve silme islemi
        yaptım Stillendirme de CSS Template Engine olarak EJS kullandım
      </h3>
      <p>Backend : Express</p>
      <p>Database : Mongo DB</p>
      <p>Template Engine : EJS</p>
      <p>Stillendirme : CSS</p>
    </div>
  </body>
</html>
