<nav>
  <div>
    <a class="title" href="/">NOTE APP</a>
  </div>
  <ul>
    <li><a href="/dersler">Dersler</a></li>
    <li><a href="/hakkimda">Hakkimda</a></li>
    <li><a href="/ders/ekle">Ders Ekle</a></li>
  </ul>
</nav>
<hr />
